<a href="https://colab.research.google.com/github/Virendra513/DSTT_22-27-05/blob/Assignment-1/22_27_05.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Name: Virendra Singh Kaira
Regd. No.-22-27-05

Given an integer number n, you have to print the factorial of this number.

In [ ]:
## Question 5
m=int(input(("Input any number")))
print("Input: \n %d" %m)
fact=1
if m==0:
  print("Output:\n 1")
elif m==1:
  print("Output:\n 1")
for i in range(1,m+1):
  fact=fact*i
print("Output:\n",fact)

Input any number4
Input:
 4
Output:
 24

In [ ]:
## Question 2
n=[12,20,26,24,25]
n.sort()
print("Second Maximum",n[len(n)-3],"Second Mininmum",n[1])

Second Maximum 24 Second Mininmum 20

In [ ]:
## Question 3
m=[1,2,3,4,5,6,5,10]
print(m)
for i in m:
  if i%5!=0:
    print(i,end=" ")

[1, 2, 3, 4, 5, 6, 5, 10]
1 2 3 4 6

In [9]:
## QUestion 1
lst=[]
n=int(input('enter size of list'))
for i in range(1,n+1):
  b=int(input())
  lst.append(b)
print("Entered list is",lst)
c=[]
for i in range(len(lst)-1,-1,-1):
  c.append(lst[i])
print("Reverse list:",c)
res_list = [lst[i] + c[i] for i in range(len(lst))]
 
# printing resultant list
print ("Resultant list is : " ,res_list)

enter size of list10
2
5
6
8
9
9
5
2
11
22
Entered list is [2, 5, 6, 8, 9, 9, 5, 2, 11, 22]
Reverse list: [22, 11, 2, 5, 9, 9, 8, 6, 5, 2]
Resultant list is :  [24, 16, 8, 13, 18, 18, 13, 8, 16, 24]